body {
    font-size: 1rem;
    background-color: #333;
    background-image: url('');
    background-attachment: fixed;
    background-size: cover;
    color: #ccc;
    margin: 0px;
}

main {
    margin-left: auto;
    margin-right: auto;
    max-width: auto;
}

.bg-primary {
    background-color: #9f0000 !important;
}

a, a:visited, a:link, .fakelink, .fakelink:visited, .fakelink:link {
    font-weight: 400;
}

div.dropdown-menu.show {
    background-color: #1a1a1a;
    border-radius: 4px;
    border: 1px solid #27272a;
}

.offcanvas-end {
    top: 0;
    right: 0;
    width: 400px;
    border-left: 1px solid rgba(80,80,80,.8);
    transform: translateX(100%);
}

.offcanvas {
    position: fixed;
    bottom: 0;
    z-index: 1050;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    visibility: hidden;
    background-color: #000;
    background-clip: padding-box;
    outline: 0;
    transition: transform .3s ease-in-out;
}

.dropdown-item.active {
    color: #fff;
    background-color: #9f0000;
}

.wall-photo-item {
    background-color: #1a1a1a;
    background-image: none;
}

.wall-item-head-new {
    border-top: 0.2rem solid #9f0000;
}

.wall-item-title.h3 {
    font-weight: bold;
    margin: 0px;
    word-wrap: break-word;
    background: #000;
}

.ivoted {
    color: #9f0000;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #3e3e3e;
}

a.nav-link {
    color: #fff;
}

div.vcard, div#contact-block, div.widget {
    background-color: #27272a;
    border: 1px solid #1a1a1a;
    border-radius: 4px;
}

#region_1 {
    position: relative;
    order: 1;
    padding: 4.5rem 7px 0px 5px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #27272a;
    background-clip: border-box;
    border: 1px solid #1a1a1a;
    border-radius: .25rem;
    height: auto;
    margin-bottom: inherit;
}

.vcard-card {
    background-color: transparent;
}

video {
    width: 100%;
    max-width: 99% !important;
}

span.oembed.rich {
    display: block;
    position: relative;
    float: left;
    width: 100%;
}

span.oembed.rich > iframe {
    border: 0;
    width:48vw !important;
    height:20vw !important;
    zoom: 1;
    -moz-transform: scale(1);
    -moz-transform-origin: 0 0;
    -o-transform: scale(1);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(1);
    -webkit-transform-origin: 0 0;
    display: block;
    margin-top: 0vw;
    margin-bottom: 0vw;
    margin-left:auto;
    margin-right:auto;
    background: #333;
    border-radius: 5px;
}

.border,
.border-bottom {
    border: 1px solid #1a1a1a !important;
}

div#profile-photo-wrapper {
    width: auto;
    height: auto;
    margin-bottom: 10px;
    border-radius: 0.25rem;
    margin-top: 10px;
}

.group-selected, .fileas-selected, .categories-selected, .search-selected, a.active {
    color: #fff !important;
    text-decoration: none !important;
}

.generic-content-wrapper {
	background-color: transparent;
	border: 1px solid #1a1a1a;
    border-radius: 0.25rem;
    margin-bottom: 1.5rem;
}

textarea, input, select
{
  color: #BBB !important;
  background: #333 !important;
  border-color: #2B2B2B !important;
 }

#profile-jot-submit-wrapper {
	border-top: none;
	padding: 10px 0;
}

#jot-title {
	border-radius: 3px;
}

#jot-title-wrap {
	border-bottom: none;
	margin-bottom: 5px;
}

#jot-category-wrap {
	border-bottom: none;
	margin-bottom: 5px;
}

.bootstrap-tagsinput {
	background: #333;
}

optgroup {
	color: #CCC !important;
}

option {
	color: $link_colour !important;
}

#profile-edit-default-desc {
	background-color: #665029;
	color: #FFF;
	padding: 20px;
}

.photo {
	box-shadow: none;
}

.abook-pending-contact, .abook-permschange {
	background: #402900;
}

.contact-entry-wrapper {
	border: 1px solid #333;
}

#cboxContent a {
	color: #000;
}

#cboxContent {
	color: #111;
}

#adminpage table tr:hover {
    background-color: #222;
}

#colorbox {
	border: 0px solid #1E1E1E;
	background-color: #1E1E1E;
}

.chat-item-text {
	background-color: #222;
}

.fc-state-highlight {
    background: none repeat scroll 0% 0% #333 !important;
}

.well {
	background-color: #1E1E1E;
	border: 1px solid #222;
	background-image: linear-gradient(to bottom, #1E1E1E 0px, #1E1E1E 100%);
}

.alert-info, .section-content-info-wrapper {
	color: #CCC;
	background-color:#333;
	border-color: #444;
	background-image: linear-gradient(to bottom, #333 0px, #333 100%);
}

.abook-self {
	background-color: #251111;
}

.acl-button-show,
.acl-button-hide {
	color: #fff;
}

#acl-select {
	background-color:#333;
	border: 1px solid #444;
	color: #FFF;
}

#acl-showall {
	color: #FFF;
}


#acl-list {
	border: 1px solid #444;
}

#acl-search-wrapper {
	border-bottom: 1px solid #444;
}

.acl-list-item {
	border: 1px solid #222;
	color: #CCC;
	background-color:#333;
}

.abook-self {
	border: 1px solid #222;
	color: #555;
	background-color:#111;
}

.modal-content {
    background-color: #111;
}

.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #222;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
    background: #9f0000;
    color: #222;
}

.offcanvas-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    background: #9f0000;
}

#notifications_wrapper {
    background-color: transparent;
}

#notifications {
    margin-bottom:1rem;
    border:none !important;
}

span.float-end.badge.bg-secondary.network-update,
span.item-category.badge.rounded-pill.bg-warning.text-dark,
span.badge.bg-secondary.float-end {
    background: #fa8900 !important;
    color: #222;
}

.text-dark,
a.text-dark,
i.fa.fa-asterisk {
    color: #222 !important;
}

a.list-group-item.text-decoration-none.text-dark {
    color: #ccc !important;
}

a.list-group-item.text-decoration-none.text-dark:hover {
    color: #fff;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    background: rgba(0,0,0,0.6);
}

.modal-backdrop {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100vw;
    height: 100vh;
    background-color: #000;

}

.justified-gallery {

    width: 100%;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 750px;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #ccc;
    text-shadow: none;
    opacity: .5;
}

.close:hover {
    color: #fff;
}

.dropdown-header.text-black-50,
.nav-link.active {
	color:#fff !important;
}

a.btn, aside a {
	font-weight: 400 !important;
}

.btn {
	background-color: #27272a;
	border-color: #1a1a1a;
	color: #ccc;
	text-shadow: none;
	box-shadow: none;
}

.btn:hover, .btn:focus, .btn:active {
	background-color: #333;
	border-color: #1a1a1a;
	color: #fff;
	text-decoration: none;
}

.btn-default.btn-sm:hover, .btn-default.btn-sm:focus, .btn-default.btn-sm:active .btn-default.btn-sm.active {
	text-decoration: none;
}

.btn-primary, input#event-submit, input#rmagic-submit-button, input#lostpass-submit-button {
    background-color: #9f0000;
    color: #FFF;
    text-decoration: none;
}

.btn-primary:hover, .btn-primary:focus, input#event-submit:hover, input#event-submit:focus, input#rmagic-submit-button:hover, input#rmagic-submit-button:focus, input#lostpass-submit-button:hover, input#lostpass-submit-button:focus {
    border-color: #27272a;
    background-color: #870000;
    color: #FFF;
    text-decoration: none;
}

.btn-success {
    color: #FFF !important;
    background-color: #5CB85C !important;
    border-color: #4CAE4C !important;
}

.btn-success:hover, .btn-success:focus {
    color: #FFF !important;
    background-color: #449D44 !important;
    border-color: #398439 !important;
}

.btn-warning {
    color: #FFF !important;
    background-color: #F0AD4E !important;
    border-color: #EEA236 !important;
}

.btn-warning:hover, .btn-warning:focus {
	color: #FFF !important;
	background-color: #EC971F !important;
	border-color: #D58512 !important;
}

.btn-danger, form#chat-destroy > input {
    background-color: #D9534F !important;
    border-color: #D43F3A !important;
	color: #FFF !important;
}
.btn-danger:hover, .btn-danger:focus, form#chat-destroy > input:hover, form#chat-destroy > input:focus {
	color: #FFF !important;
    background-color: #C9302C !important;
    border-color: #AC2925 !important;
}

.btn-outline-secondary.dropdown-toggle.show, .btn-outline-secondary:active {
    color: #222;
    background-color: #fa8900;
    border-color: #fa8900;
}

.form-group.checkbox > div > input:checked + label .onoffswitch-switch {
    right: 0px;
    background-color: #9f0000;
}

.onoffswitch.checkbox > div > input:checked + label .onoffswitch-switch {
    right: 0px;
    background-color: #9f0000;
}

.pager_first,
.pager_last,
.pager_prev,
.pager_next,
.pager-prev,
.pager-next,
.pager_n {
	border: 1px solid #222;
	background: #1e1e1e;
}

input {
	border: 1px solid #222;
}

input[type="submit"] {
	background-color: #333;
	color: #fff;
}

.notify-seen a {
	background: #111;
	color: #222 !important;
}

.notify-seen a:hover {
	background: #222;
	color: #ccc !important;
}

nav .dropdown-menu>li>a{
	color: #fff;
}

nav .dropdown-menu>li>a:hover,nav .dropdown-menu>li>a:focus{
	color: #fff;
	background-color: #333;
	background-image: none;
}

nav .dropdown-menu .divider{
	background-color: #222;
}

.dropdown-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid #333;
}

nav.dropdown-menu {
	background-color: #000;
	font-size: 1rem;
}

#nav-search-text {
	background-color: #999;
}

.autocomplete .selected {
	background: #999;
}

.nav-tabs {
	border-bottom:1px solid #333;
}

.nav-tabs .nav-link.active {
	color: #fff;
	background-color: #111;
	border-color: #333;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
	text-decoration: none;
	background-color: #222;
	color: #ccc;
	border-color: #333;
}

a.nav-link:hover,
a.nav-link:focus {
	text-decoration: none;
	background-color: #222;
	color: #ccc;
	border-color: #333;
}

aside .nav > li > a:hover, aside .nav > li > a:focus {
	text-decoration: none;
	background-color: #222;
}

a, a:visited, a:link, .fakelink, .fakelink:visited, .fakelink:link {
	font-weight: bold;
}

li.nav-item>a.nav-link:hover {
	text-decoration: none;
}

.list-group-item {
	background-color: #222;
	color: #ccc;
	border: 1px solid rgba(80,80,80,.25);
}

.text-dark {
	color: #aaa !important;
}

.group-selected, .fileas-selected, .categories-selected, .search-selected, a.active {
	color: #fff !important;
	text-decoration: none !important;
}

.generic-content-wrapper-styled {
	background-color: rgba(28,28,28,0.8);
}

.autocomplete {
	background: #222;
}

blockquote {
    background-color: #1e1e1e;
    border-left: 3px solid #666;
    color: #eee;
    font-size: larger;
}

code {
	border: 1px solid #090909;
	background: #000;
	color: #fff;
}

pre {
	background: #000;
	color: #fff;
	border:1px solid #090909;
}

#wiki-content-container code {
	background: #000;
}

.notif-item a {
	color: #ccc;
}

.notif-item a:hover {
	color: #fff;
}

.dropdown-menu {
	background-color: #222;
}

.dropdown-menu >li > a {
	color: #ccc !important;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    	color: #ddd;
    	background-color: #333;
	background-image: none;
}

.open .dropdown-toggle.btn-default, .open .dropdown-toggle.btn-default:focus {
    color: #ccc;
    background-color: #222;
    border-color: #222;
}

.pmenu-item:hover a {
	background-color: #333 !important;
	color: #ddd;
}

.preview {
	background: url('../img/gray_and_black_diagonal_stripes_background_seamless.gif');
}

.xdsoft_datepicker.active {
	color: #222 !important;
	text-decoration: none !important;
}

.xdsoft_datepicker.active:hover, .xdsoft_datepicker.active:focus {
	color: #222 !important;
	text-decoration: underline;
}

strong.fn.p-name {
    font-weight: bold;
    font-size: 1rem;
    color: #ccc;
    margin-left: 10px;
}

div.fn.p-name {
    font-weight: bold;
    font-size: 1rem;
    color: #ccc;
}

.text-muted {
    --bs-text-opacity: 1;
    color: #bbb !important;
    font-size: 0.85rem;
}

small.text-muted.p-adr {
    color: #bbb !important;
    margin-left: 10px;
}

.app-icon i {
    color: #777;
    font-size: 80px;
    text-shadow: 2px 2px 2px #fff;
}

.item-highlight {
    border-left: 0.3rem solid #9307c2;
}

.bg-warning {
    background-color: #ffc1 !important;
    color : #ffffff
}

a.nav-link.active.messages-type {
    background-color: #222;
    border-color: #222;
}

.list-group-item-action {
    width: 100%;
    color: #ccc;
    text-align: inherit;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #fa8900;
    border-color: #fa8900;
}

.list-group-item-action:hover {
    background-color: #111;
    color: #ccc;
}

@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #333;
  }
}

#profile-jot-wrapper {
	background-color: #27272a;
	border: 1px solid #1a1a1a;
}

.nav-tabs.nav-justified {
	background-color: inherit;
	border: none;
}

.table-striped > tbody > tr:nth-of-type(2n+1), .table-hover > tbody > tr:hover {
	background-color: #191919;
}

.table > tbody > tr > td {
	border-color: #888;
    color: #eee;
}

.table > tbody > tr > td:hover {
    color: #aaa;
}

.table-sm > :not(caption) > * > * {
    padding: .25rem .25rem;
    color: #ddd;
}

.help-content {
	border-bottom: #222 thin solid;
}

.help-content-open {
  	-moz-box-shadow: 0px 3px 3px #222;
  	-webkit-box-shadow: 0px 3px 3px #222;
  	box-shadow: 0px 3px 3px #222;
}

.contextual-help-content-open {
	background: $nav_bg;
	border-bottom: #555 1px solid;
	box-shadow: 0px 3px 3px rgba(85,85,85,0.2);
}

.contextual-help-tool {
	opacity: 0.5;
}

.contextual-help-tool:hover {
	opacity: 1;
}

.contextual-help-tool i {
	color: $link_colour;
}


.profile-match-wrapper {
	width: 150px;
	height: 120px;
	border: none;
}

.profile-match-name {
    	width: 144px;
    	white-space: nowrap;
    	text-overflow: ellipsis;
}

.widget-nav-pills-icons:hover + a {
	background-color: #222;
}

.widget-nav-pills-checkbox:hover + a {
	background-color: #222;
}


/* category badge fix: */
a.text-dark:focus, a.text-dark:hover {
	color: #ddd !important;
}

.badge-secondary {
    color: #1a1a1a;
    background-color: #fa8900;
}

.badge-warning {
/*     background-color: #ffc927; */
}
.badge-warning a.text-dark {
    color: #333 !important;
}
.badge-warning a.text-dark:focus, .badge-warning a.text-dark:hover {
    color: red !important;
    text-decoration: none;
}

/* fix color for highlithed text */
span.default-highlight {
	color: #333;
	border-radius: 4px;
}

.section-content-warning-wrapper {
    padding: 21px 10px;
    color: #111;
    background-color: #fa8900;
    border-bottom: 3px solid rgba(18,18,18,0.4);
    text-align: center;
}

/* pdleditor */
div.badge.rounded-pill.bg-info.text-dark {
    --bs-bg-opacity: 1;
    background: #fa8900 !important;
    color: #222 !important;
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: #27272a !important;
    border: 1px solid #1a1a1a;
    border-radius: .25rem;
}

ul.nav.position-fixed.bottom-0.start-50.bg-light.translate-middle-x.text-uppercase {
  min-width: 300px;
  position: relative !important;
}

/* HQ */
.card-body {
    flex: 1 1 auto;
    padding : 1rem 1rem;
    color: #ccc;
}

.card-footer:last-child {
    color:#ccc !important;
    font-weight: normal;
}

/* Calendar */
td.fc-day-top.fc-sun.fc-today{
    background: rgb(220, 53, 69) !important;
}

.fc-unthemed td.fc-today {
    background: #1a1a1a;
}

/* Responsive */


